@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html, body
{
	margin: 0;
	padding: 0;
}

body
{
	background: #e6e6e6;
	font-family: Lato, sans-serif;
	width: 100%; 	
}

canvas 
{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

a
{
	color: #ffffff;
}

a:hover
{
	text-decoration: none;
}

.header_title
{
	background: #ffffff;
	box-shadow: 0 -7px 12px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 -7px 12px 0px rgba(0,0,0,0.5);
}

.header_title h2
{
	font-weight: 700;
	font-size: 18px;
	padding: 18px 0;
	margin: 0;
	text-transform: uppercase;
	color: #0f0f0f;
}

.stats_main
{
	padding: 50px 30px;
}

.card
{	
	height: 650px;
	background: #ffffff;
	border-radius: 10px;
	padding: 12px 8px;
	margin-bottom: 40px;
	box-shadow: 0 10px 35px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 10px 35px rgba(0,0,0,.1);
}

.card p, .search_card p, .news_card p, .graph_card p
{
	font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 25px;
}

.card .tb_parent
{
	overflow-y: auto;
	height: 100%;
}

.card .tb_parent thead th 
{ 
	position: sticky; 
	top: 0; 
}

.total_stats
{
	display: flex;
	flex-direction: row;
	height: auto;
	margin-bottom: 30px;
	align-items: center;
}

.total_stats .single_stat
{
	background: #f5f5f5;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    font-size: 25px;
    border-bottom: 2px solid;
}

.total_stats .single_stat .newstat
{
	font-size: 14px;
	margin-left: 15px;
}

.total_stats .single_stat .newstat i
{
	font-size: 15px;
    margin-right: 3px;
    font-weight: 100;
}

.country_stat
{
	margin-left: 20px;
	font-size: 12px;
    color: #ff073a;
    font-weight: 700;
}

.country_stat i
{
	font-size: 12px;
    margin-right: 3px;
    color: #ff073a;
    font-weight: 100;
}

.total_stats .single_stat:nth-child(1)
{
    color: #ff073a;
}

.total_stats .single_stat:nth-child(2)
{
    color: #007bff;
}

.total_stats .single_stat:nth-child(3)
{
    color: #28a745;
}

.total_stats .single_stat:nth-child(4)
{
    color: #5c5c5c;
}

.total_stats .single_stat p
{
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 700;
}

.total_stats .single_stat h5
{
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 700;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.table tr.states td
{
	font-size: 18px;
	font-weight: 700;
}

.table tr.districts td
{
	font-size: 13px;
	width: 100%;
}

.graph_card
{	
	height: auto;
	background: #ffffff;
	border-radius: 10px;
	padding: 12px 8px;
	margin-bottom: 25px;
}

.graph_card .graph_container
{
	width: 400px;
    height: 378px;
    margin: 0 auto 15px;
}

/*Footer*/
footer#footer {
    background: #0f0f0f;
    /* Dark color/Footer color, can be changed via colors.css */
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 10px;
}

footer h2 {
    display: inline-block;
    color: #fff;
}

footer h4 {
    padding: 0;
    color: #fff;
}

footer p {
    margin: 10px 0;
    font-size: 14px;
    color: #fff;
}

footer p a {
    color: #fff;
    text-decoration: underline;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

footer p a:hover {
    color: rgb(130, 165, 1);
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.fa-heart{
    color: red;
}

.social span {
    font-size: 28px;
    margin: 15px 25px 0;
}

@media only screen and (max-width: 500px) 
{
	.news_card .single_news_card .news_title
	{
		font-size: 14px;
	}
   .news_card .single_news_card .news_desc
	{
		display: none;
	}
	.graph_card .graph_container
	{
		width: 300px;
	    height: 278px;
	}
}